.header {
  width: 100%;
  height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 85px;
}

.sidebar-toggle {
  list-style: none;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}
