.btn {
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.6rem;
  display: inline-block;

  &.--solid {
    color: $font-secondary;
    background: $font-primary;
    border: 1px solid $font-primary;
    padding: 14px 32px 12px;

    &:hover {
      color: $font-primary;
      background: $font-secondary;
    }
  }

  &.--outline {
    color: $font-primary;
    border: 1px solid $font-primary;
    padding: 14px 32px 12px;

    &:hover {
      color: $font-secondary;
      background: $font-primary;
    }
  }
}
