.section {
  margin-bottom: 80px;

  @include desktop {
    padding: 0 80px;
  }

  h3 {
    text-align: center;
    margin-bottom: 30px;
  }
}

.cards {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 40px 0;

  @include desktop {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0 30px;
  }
}
