.hero {
  position: relative;
  padding-top: 75px;
  margin-bottom: 80px;

  @include desktop {
    padding: 80px 50px 0;
  }

  &::before {
    content: "";
    width: 100vw;
    height: calc(100% - 1px);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: $primary;
    z-index: -1;
  }
}

.block {
  margin-bottom: 75px;

  @include desktop {
    max-width: 510px;
  }
}

.carouser-wrapper {
  position: relative;
  scrollbar-width: none;

  @include desktop {
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    overflow: auto;
  }

  &::before {
    content: "";
    width: 100vw;
    height: 55%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    z-index: 0;
  }

  &::-webkit-scrollbar {
    @include desktop {
      display: none;
    }
  }
}

.carousel {
  position: relative;
  margin: 0 -25px;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;

  @include desktop {
    width: fit-content;
    overflow-x: visible;
    margin: 0;
    scroll-snap-type: none;
    scroll-behavior: auto;
    cursor: ew-resize;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  > * {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 85% !important;
    padding: 0 15px;

    @include desktop {
      scroll-snap-align: none;
      width: 62.5% !important;
      max-width: 750px !important;
      padding: 0 75px;
    }
  }
}
