.badge {
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.6rem;
  border-radius: 50%;
  color: $font-secondary;
  background: $font-primary;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    margin-bottom: 3px;
  }

  .desc {
    font-size: 1.1rem;
    opacity: 0.4;
  }
}
