.footer {
  width: 100%;
  max-width: $max-width;
  margin: auto;
  position: relative;
  display: grid;
  justify-items: center;
  padding: 65px 25px;
  gap: 25px 0;
  background: $font-primary;

  @include desktop {
    display: flex;
    gap: 0;
    padding: 90px 80px;
  }

  &::before {
    content: "";
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: $font-primary;
    z-index: -1;
  }
}

.logo {
  margin-bottom: 25px;
  margin-right: -15px;

  @include desktop {
    margin-bottom: 0;
    margin-right: auto;
  }

  svg {
    max-width: 150px;
  }

  path {
    fill: $font-secondary;
  }
}

.--footer-link {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: $font-secondary;
  transition: color 200ms ease-in-out;

  @include desktop {
    display: flex;
    align-items: center;
    margin-left: 55px;
  }
}

a.--footer-link {
  &:hover {
    color: $primary;
  }
}
