.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.wrapper {
  width: 100%;
  position: relative;

  > span {
    position: unset !important;
  }
}
