.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.wrapper {
  user-select: none;
  width: 100%;
  position: relative;

  > span {
    position: unset !important;
  }
}

.badge {
  display: none !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.4);
  cursor: pointer;
  transition: all 250ms ease-in-out;

  @include desktop {
    display: flex !important;
  }

  &:hover {
    transform: translate(-50%, -50%) scale(1);

    &::after {
      opacity: 0;
    }
  }

  &::after {
    content: "";
    position: absolute;
    background: $font-primary;
    border-radius: 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 250ms ease-in-out;
    box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0.5);
  }
}
