/* Josefin Sans is hosted on Google Fonts, so we only need Audrey here */

@font-face {
  font-family: "Audrey";
  src: url("/fonts/Audrey/Audrey-Normal.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Audrey";
  src: url("/fonts/Audrey/Audrey-NormalOblique.otf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Audrey";
  src: url("/fonts/Audrey/Audrey-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Audrey";
  src: url("/fonts/Audrey/Audrey-MediumOblique.otf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Audrey";
  src: url("/fonts/Audrey/Audrey-Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: "Audrey";
  src: url("/fonts/Audrey/Audrey-BoldOblique.otf");
  font-weight: 700;
  font-style: italic;
}
